  :root {
    --max-padding: 5rem; 
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $very__light__gray;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 20rem;
  overflow-x: hidden;
}

main {
  padding: 1.25rem 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-family: $font;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-inline: auto;

  h1 {
    max-width: 34.375rem;
    span {
      color: $modified__header__color;
      display: block;
      text-align: center;
      font-size: clamp(1.25rem, 3.5vw, 1.625rem);
      &:nth-child(1) {
        font-weight: map-get($font-weights, light);
      }
      &:nth-child(2) {
        font-weight: map-get($font-weights, semibold);
      }
    }
  }

  p {
    max-width: 34.375rem;
    color: $modified__header__color;
    font-size: clamp(0.75rem, 3vw, 1.0938rem);
    text-align: center;
    margin: 0.9375rem 0.125rem 0 0;
  }
}

section {
  display: grid;
  min-width: 18.75rem;
  max-width: 84.375rem;

  article {
    background-color: $very__light__gray;
    height: calc(11.5rem + 5.5vh);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.625rem 0.625rem rgba(0, 0, 0, 20%);
    border-radius: 0.3125rem;
    position: relative;
    overflow: hidden;

    p {
      margin-bottom: 4.375rem;
    }

    img {
      position: absolute;
      bottom: 1.5625rem;
      right: 1.5625rem;
    }

    &:nth-child(1) {
      border-top: 0.25rem solid $cyan;
      grid-area: article__supervisor;
      margin: auto 0;
    }

    &:nth-child(2) {
      grid-area: article__team__builder;
      border-top: 0.25rem solid $red;
    }

    &:nth-child(3) {
      grid-area: article__korma;
      border-top: 0.25rem solid $orange;
    }

    &:nth-child(4) {
      grid-area: article__calculator;
      border-top: 0.25rem solid $blue;
      margin: auto 0;
    }

    h2 {
      font-size: 1.25rem;
      font-family: $font;
      font-weight: map-get($font-weights, semibold);
    }

    p {
      font-family: $font;
      margin-top: 0.625rem;
      font-size: clamp(0.7813rem, 3vw, 0.9375rem);
    }

    img {
      margin-top: 3.75rem;
      margin-left: auto;
    }
  } 
} 

footer {
  position: absolute;
  top: calc(100% - 1.5rem); 
  height: fit-content;
  bottom: 0rem;
  left: 0rem;
  width: 100vw;
  padding: 0 0 0.1563rem 0.4688rem; 

  ul {
    width: 18.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font__footer;

    li a i {
      color: black;
      font-size: 1.125rem;

      &:hover {
        scale: 1.7;
      }
    }
  }
}
