@media only screen and (max-width: 55em) {
  main {
    padding: 1.25rem;
  }

  header {
    padding: 2vh 0 0 0; 
  }

  section {
    grid-template-columns: minmax(18.75rem, 32.5rem);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "article__supervisor"
      "article__team__builder"
      "article__korma"
      "article__calculator";
    gap: 1.875rem;
  }

  footer {
    position: static;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media only screen and (min-width: 55.0625em) {
    body {
      position: relative; 
    }


    header {
      padding: 1.875rem 0.625rem 0 0; 
      min-height: 10vh; 

      p {
        padding-right: calc(0.3125rem + 0.5vw); 
      }
    }

    main {
      min-height: 70vh; 
      width: 100vw; 
      padding-bottom: 3vh; 
      padding-top: min(calc(3vh + 1vw), var(--max-padding));
      display: flex;
      align-items: center;
      justify-content: center;
    }


  section {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    gap: 2.1875rem;
    grid-template-areas:
      "article__supervisor article__team__builder article__calculator"
      "article__supervisor article__korma article__calculator";

    article {
      &:nth-child(1) {
        grid-area: article__supervisor;
      }

      &:nth-child(2) {
        grid-area: article__team__builder;
      }

      &:nth-child(3) {
        grid-area: article__korma;
      }

      &:nth-child(4) {
        grid-area: article__calculator;
      }
    }
  }
}
